
.home-page{
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-left: 5.3rem;
  overflow: scroll;
  scrollbar-width:none;
  padding-left: 2.5rem;
  
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
